@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  display: grid;
  grid-auto-columns: 344px;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.frame1 {
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.frame2 {
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.frame3 {
  border-radius: 600px;
}

.frame4 {
  border-top-left-radius: 120px;
  border-bottom-right-radius: 120px;
}
